.wrapper {
  height: 100%;

  .header {
    height: 46px;

    .van-nav-bar {
      background-color: rgb(49, 144, 232);

      .van-icon {
        color: #fff;
      }

      .van-nav-bar__right {
        color: #fff;

        .van-nav-bar__text {
          color: #fff;
        }
      }

      .van-nav-bar__title {
        color: #fff;
      }
    }
  }

  .content {
    height: calc(100% - 46px - 50px);
    background-color: rgb(245, 245, 245);
  }

  .tabbar-box {
    height: 50px;
  }

  .van-tabbar {
    border: 0.1rem solid #eee;
  }
}